/* styles.css */

img {
  padding: inherit;
  margin: auto;
  width: 75%;
  height: auto;
  display: block;
}

.container {
  width: 66.67%; 
  max-width: 66.67%;
  margin: auto;
  padding: 10rem 5px 10rem 5px;
  text-align: center;
  box-sizing: border-box; 
}

.img-link-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 2rem;
  padding-top: 2rem;
  align-items: normal;
}

.img-link-container img {
  height: 2rem;
  width: auto;
  max-width: 100%;
  display: block;
}

/* stop hyperlinked images from being underlined */
.img-link, .img-link img{
  text-decoration: none !important;
  border:0px !important;
  outline:none;
  border-width: 0px;
  outline-width:0px;
  border-bottom: none;
  width: auto;
  height: 4rem auto;
  max-width: 100%;
}

/* Font Settings */
@import url("https://fonts.googleapis.com/css2?family=PT-Serif&display=swap");
/* All fonts */
body {
  font-family: "PT Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #f9f9f9;
  font-variation-settings:
  "wdth" 100;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 1.618rem;
  margin: 0;
  padding: 0;
}

p, ul {
  color: #000000;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.618;
  margin-bottom: 0.1rem;
}

h6 {
  font-size: 1.618rem;
}

h5 {
  font-size: 2.618rem;
}

h4 {
  font-size: 4.236rem;
}

h3 {
  font-size: 6.854rem;
}

h2 {
  font-size: 11.09rem;
}

h1 {
  font-size: 17.942rem;
}

small {
  color: #000000;
  font-size: 0.618rem;
}

ul {
  padding-left: 1.618rem;
}

blue {
  color: #c7c6ff;
  font-weight: 600;
}

.italic {
  font-style: italic;
}


/* Ensure the link color inherits from the body */
a, a:visited, a:active {
  color: inherit;
}

/* Hover styles */
a:hover {
  color: #c7c6ff; 
}

/* Active link styles */
a:active {
  color: inherit; 
}

.footer-line {
  height: 1px; 
  background-color: #000000; 
  width: 100%; 
}

.footer-padding {
  height: 10rem;
}

/* Modal Images */

.souvenir-img {
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.souvenir-img:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.text-box {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
/* Add Animation */
.text-box {  
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform: scale(0.1)} 
  to {transform: scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .text-box {
    width: 100%;
  }
}


/* -------------------------------------------------------------------------- */

/* Canvas */
/* Canvas container */
.text-box {
  margin-top: 1rem;
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  height: auto;
  min-height: 200px;
  text-align: left;
  overflow: hidden;
  background-image: url("../assets/canvas.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  padding: 1.618rem; 
  /* External shadow */
  box-shadow: 
  10px 10px 20px rgba(0, 0, 0, 0.6),   /* Dark shadow with larger blur */
  5px 5px 10px rgba(0, 0, 0, 0.3);    /* Lighter shadow to create the depth */
  /* Internal shadow for 3D effect */
  box-shadow:
  inset 2px 2px 8px rgba(0, 0, 0, 0.4),
  inset -5px -5px 8px rgba(0, 0, 0, 0.6),
  inset -5px -5px 8px rgba(0, 0, 0, 0.4),
  inset -10px -10px 8px rgba(73, 71, 71, 0.147),
  inset -6px -6px 8px rgba(37, 17, 216, 0.3), 
  inset -1px -1px 8px rgba(0, 0, 154, 0.6); 
  border-radius: 2px;
}

.text-box h5, 
.text-box h6, 
.text-box p, ul {
  color: #00033f;
}




