/* styles.css */

body {
  font-family: "Pangolin", Tahoma, Geneva, Verdana, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #8cbfd6;
  font-variation-settings:
  "width" 100;
  margin: 0;
}

html {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #2f2f2f;
  font-weight: 350;
  line-height: 1.15;
  margin-bottom: 1.618rem;
  padding: 0;
}

p, ul {
  color: #2f2f2f;
  font-weight: 200;
  font-size: 1.2rem;
  line-height: 1.618;
  margin-bottom: 0.1rem;
}

h6 {
  font-size: 1.618rem;
}

h5 {
  font-size: 2.618rem;
}

h4 {
  font-size: 4.236rem;
}

h3 {
  font-size: 6.854rem;
}

h2 {
  font-size: 11.09rem;
}

h1 {
  font-size: 17.942rem;
}

small {
  color: #00000025;
  font-size: 0.618rem;
}

ul {
  padding-left: 1.618rem;
}

.italic {
  font-style: italic;
}


a, a:visited, a:active {
  color: inherit;
}

a:hover {
  color: #c7c6ff; 
}

a:active {
  color: inherit; 
}

.footer-line {
  height: 1px; 
  background-color: #000000; 
  width: 100%; 
}

.footer-padding {
  height: 10rem;
}

.passport-container {
  width: 100%;
  margin-top: 10px;
}

.passport {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
  box-sizing: border-box;
  height: auto;
  height: 400px;
  width: 700px;
  overflow: auto;
  background-image: url("../assets/passport.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  padding: 1.618rem; 
  border-radius: 20px;
  box-shadow: 
    0 0 20px rgba(252, 248, 235, 0.605),
    0 0 40px rgba(255, 249, 232, 0.668);
}


.container {
  width: 100%;
  max-width: 100%;
  text-align: center;
  margin: 0;
  z-index: 1000;
  overflow: hidden;
}

:root {
  --numBackgroundBanners: 3;
}


/* sky wrapper and sky animation are based off https://www.youtube.com/watch?v=lIOD8NmGd0M&t=361s
and https://verpex.com/blog/website-tips/how-to-create-an-infinite-image-slider-using-css */

#sky-wrapper {
  --backgroundDuration: calc(60 * 60s);
  overflow: hidden;
  display: grid;
  grid-template-rows: repeat(1, 100vh);
  width: 100%;
  position: absolute;
  z-index: -1000;
  opacity: 40%;
  background-color: #8cbfd6;
  /* use of mask for blurred edges is based off https://jsfiddle.net/ZY5hn/1/ from https://stackoverflow.com/questions/24709915/blur-the-edges-of-an-image-or-background-image-with-css */
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 3%, black 97%, transparent);
  mask-image: linear-gradient(to bottom, transparent, black 3%, black 97%, transparent);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.sky {
  grid-area: 1/1;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  overflow: hidden;
  width: 200vw;
  position: relative;
  z-index: -999;
  margin: 0;
  object-fit: cover;
  animation: moveUp var(--backgroundDuration) linear infinite;
  background-color: #8cbfd6;
  -webkit-mask-image: linear-gradient(to bottom, transparent, #8cbfd6 2%, #8cbfd6 98%, transparent);
  mask-image: linear-gradient(to bottom, transparent, #8cbfd6 2%, #8cbfd6 98%, transparent);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

#sky-wrapper .sky:nth-child(2) {
  animation-delay: calc((1 - 2) / var(--numBackgroundBanners) * var(--backgroundDuration));
}

#sky-wrapper .sky:nth-child(3) {
  animation-delay: calc((1 - 3) / var(--numBackgroundBanners) * var(--backgroundDuration));
}

#sky-wrapper .sky:nth-child(4) {
  animation-delay: calc((1 - 4) / var(--numBackgroundBanners) * var(--backgroundDuration));
}

#sky-wrapper .sky:nth-child(5) {
  animation-delay: calc((1 - 5) / var(--numBackgroundBanners) * var(--backgroundDuration));
}

@keyframes moveUp {
  33.33% {
    transform: translateY(-100%);
  }
  33.34% {
    transform: translateY(calc((var(--numBackgroundBanners) - 1) * 100%));
  }
}

.passport h5, 
.passport h6, 
.passport p, ul {
  color: #00033f;
  font-family: 'Courier New', Courier, monospace;
}

.passport-details {
  flex: 1; 
  text-align: left;
}

.section-container {
  width: 100%;
  height: 100%;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

img {
  max-width: 100%;
  overflow: hidden;
}

.img-container {
  margin: 2rem auto;
  position: relative;
  max-width: 100%;
}

video {
  width: 480px;
  height: auto;
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 
    0 0 20px rgba(252, 248, 235, 0.605),
    0 0 40px rgba(255, 249, 232, 0.668);
  margin: 2rem auto;
}

.img-blur,
.img {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* country wrapper and country banner animation are based off https://www.youtube.com/watch?v=lIOD8NmGd0M&t=361s
and https://verpex.com/blog/website-tips/how-to-create-an-infinite-image-slider-using-css */

.country-wrapper {
  --backgroundDuration: 300s;
  overflow: hidden;
  display: grid;
  grid-template-rows: repeat(1, 200vh);
  width: 100%;
  position: absolute;
  z-index: -1000;
  opacity: 40%;
  background-color: #8cbfd6;
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 3%, black 97%, transparent);
  mask-image: linear-gradient(to bottom, transparent, black 3%, black 97%, transparent);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.country-banner {
  grid-area: 1/1;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  overflow: hidden;
  width: 200vw;
  position: relative;
  z-index: -999;
  margin: 0;
  object-fit: cover;
  animation: moveUp var(--backgroundDuration) linear infinite;
  background-color: #8cbfd6;
  -webkit-mask-image: linear-gradient(to bottom, transparent, #8cbfd6 2%, #8cbfd6 98%, transparent);
  mask-image: linear-gradient(to bottom, transparent, #8cbfd6 2%, #8cbfd6 98%, transparent);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.country-wrapper .country-banner:nth-child(2) {
  animation-delay: calc((1 - 2) / var(--numBackgroundBanners) * var(--backgroundDuration));
}

.country-wrapper .country-banner:nth-child(3) {
  animation-delay: calc((1 - 3) / var(--numBackgroundBanners) * var(--backgroundDuration));
}

/* blurred edges on imgs based off https://jsfiddle.net/ZY5hn/1/ from https://stackoverflow.com/questions/24709915/blur-the-edges-of-an-image-or-background-image-with-css */
#skiing {
  width: 800px;
  max-width: 100%;
  aspect-ratio: 4032 / 3024;
}

#skiing .img-blur, #skiing .img {
  background-image: url('../assets/skiing-2.jpg')
}

#tiramisu {
  max-width: 300px;
  aspect-ratio: 300 / 316;
}

#tiramisu .img {
  background-image: url('../assets/tiktok-edit-fixed-scaled-300.gif');
}

#tiramisu .img-blur {
  background-image: url('../assets/tiramisu.png');
}

#uniqlo {
  width: 400px;
  max-width: 100%;
  aspect-ratio: 1477 / 2016;
}

#uniqlo .img-blur, #uniqlo .img {
  background-image: url('../assets/uniqlo.jpg')
}

#sushi {
  width: 400px;
  max-width: 100%;
  aspect-ratio: 609 / 628;
}

#sushi .img-blur, #sushi .img {
  background-image: url('../assets/sushi.jpeg')
}

#gallery {
  width: 800px;
  max-width: 100%;
  aspect-ratio: 1023 / 731;
}

#gallery .img-blur, #gallery .img {
  background-image: url('../assets/gallery.jpg')
}

#typing {
  width: 400px;
  max-width: 100%;
  aspect-ratio: 377 / 278;
}

#typing .img-blur {
  background-image: url('../assets/typing.png')
}

#typing .img {
  background-image: url('../assets/typing.gif')
}

#paintings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#people {
  width: 600px;
  max-width: 100%;
  aspect-ratio: 661 / 480;
}

#people .img-blur, #people .img {
  background-image: url('../assets/people.png')
}

#fish {
  width: 600px;
  max-width: 100%;
  aspect-ratio: 660 / 480;
}

#fish .img-blur, #fish .img {
  background-image: url('../assets/fish.png')
}


#umbrellas {
  width: 600px;
  max-width: 100%;
  aspect-ratio: 660 / 480;
}

#umbrellas .img-blur, #umbrellas .img {
  background-image: url('../assets/umbrellas.png')
}


.img-blur {
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
}

#tiramisu-gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 316px;
  max-width: 300px;
}

.text-container {
  margin: 0 auto;
  width: 50%;
  height: auto;
}

section {
  margin-top: 5rem;
  margin-bottom: 10rem;
  width: 100%;
}

.right-align {
  text-align: right;
  display: block;
}

.small-space {
  height: 5px;
}

.img-link-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 2rem;
  padding-top: 1rem;
  align-items: normal;
}

.img-link-container img {
  height: 3rem;
  width: auto;
  max-width: 100%;
  display: block;
}

/* stop hyperlinked images from being underlined */
.img-link, .img-link img{
  text-decoration: none !important;
  border:0px !important;
  outline:none;
  border-width: 0px;
  outline-width:0px;
  border-bottom: none;
  width: auto;
  height: 4rem auto;
  max-width: 100%;
}



